COMPOSE_PROJECT_NAME=pipeline_aixia
POSTGRES_PASSWORD=secret
LOCAL_WORKSPACE_FOLDER=/path/to/project
SPACY_MODEL=it_core_news_sm
SPACY_TAG=spacy_v0.1.0
SPACY_GPU=yes
INDEXER_LANGUAGE=it
INDEXER_INDEX=hnsw+models/faiss_hnsw_ita_index.pkl+130+r
INDEXER_VECTOR_SIZE=768
BIENCODER_MODEL=models/blink_biencoder_base_wikipedia_ita/pytorch_model.bin
BIENCODER_CONFIG=models/blink_biencoder_base_wikipedia_ita/config.json
NILPREDICTOR_ARGS=--nil-bi-model models/nilp_bi_max_secondiff_model.pickle --nil-bi-features max_bi,secondiff
RESTART_POLICY=no
